

mat-form-field {
  width: 100%;
  
}

/* mat-dialog-title {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
} */
p {
  font-size: 0.7rem;
  color: red;
}

table{
  width: 100%;
  height: 100%;
}

h1{
  font-family: Ubuntu;
  color: #333333;
  font-weight: 700;
}

mat-label {
  color: #333333;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: ubuntu;
}

