<!--seccion de inicio-->
<section class="inicio" id="inicio">
  <div class="ancho-maximo">
    <div class="contenido-inicio">
      <div class="text-1">Hola, mi nombre es</div>
      <br>
      <div class="text-2">Scarleth Guzman</div>
      <br>
      <div class="text-3">Diseñadora/<span>Desarrolladora</span></div>
      <br>
      <a class="boton" href="/assets/img/PRESENTACIÓN DIGITAL LIBRO VISTIENDO ÍCONOS.pdf"
        download="Analisis iconografico de la vestimenta de Raqaypampa">
        Descargar C.V.
      </a>

    </div>
  </div>
</section>


<!--secccion SOBRE MI-->

<section class="sobre-mi" id="sobre-mi">

  <div class="ancho-maximo">
    <h2 class="title">Sobre Mi</h2>
    <div class="contenido-sobremi">
      <div class="columna izquierda">
        <img src="/assets/img/una mano en el cuello.jpg" alt="">
      </div>
      <div class="columna derecha">
        <div class="text">Soy Scarleth
          <br>
          <br>
          <span>¡BIENVENIDOS A MI PORTAFOLIO ELECTRONICO!</span>
        </div>
        <p>
          ¡Hola a todos y a todas!
          <br>
          Es un placer darles la bienvenida, a mi portafolio electrónico en el cual encontraras información sobre mi
          formación académica, mi experiencia laboral y sobre mis habilidades en algunos de los programas de diseño
          gráfico y desarrollo web.
        </p>
        <br>
        <button mat-raised-button (click)="openDialog()" style="color: #333333; background-color: #FEC935;">Ver inf.
          personal</button>
      </div>
    </div>
  </div>
</section>


<section class="portafolio" id="portafolio">
  <div class="ancho-maximo">
    <h2 class="title">Mi Portafolio</h2>
  </div>
 <div class="residuo">
  <div class="box">
    <mat-card class="example-card">

      <h2>Diseño Editorial</h2>
      <h3>Estudio y analisis iconografico de la vestimenta</h3>
  
      <img mat-card-image src="/assets/img/LIBRO PAGINAS INTERNAS.jpg" alt="">
      <mat-card-content>
        <p>
          <br>
  
          Proyecto realizado para la comunidad de Raqaypampa
          (Cochabamba) en colaboracion con Vanesa Alanes. El trabajo fue realizado desde la recoleccion de informacion,
          estudio de campo, analisis de informacion, prototipaje, testeo y produccion final.
        </p>
      </mat-card-content>
  
      <a class="boton" href="/assets/img/PRESENTACIÓN DIGITAL LIBRO VISTIENDO ÍCONOS.pdf"
        download="Analisis iconografico de la vestimenta de Raqaypampa">
        Descargar C.V.
      </a>
  
    </mat-card>
  </div>

  <div class="box">
    <mat-card class="example-card">
      <h2>Diseño Marca</h2>
      <h3>Manual de marca</h3>
      <img mat-card-image src="/assets/img/marca.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Proyecto realizado para un emprendimiento de ropa para las mujeres de pollera, el manual contine: introduccion
          del empredimiento, la marca, colores corporativos, tipografia, patrones de icono y otros.
  
        </p>
      </mat-card-content>
  
      <a class="boton" href="/assets/img/WARMIPURA FINAL (1).pdf" download="Manual de marca">
        Descargar proyecto
      </a>
  
    </mat-card>
  </div>

  <div class="box">
    <mat-card class="example-card">
      <h2>Gestion de Redes</h2>
      <h3>Facebook</h3>
      <img mat-card-image src="/assets/img/gestion.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          <br>
          <br>
          Realice pequeños trabajos de gestion de redes sociales(facebbook) para emprendimientos que estan surgiendo, para
          lo cual realice diseños de posts, publicacion y administracion de mensajeria.
          <br>
  
        </p>
      </mat-card-content>
    </mat-card>
  </div>
 </div>
</section>







<!--seccion footer-->
<section class="contacto" id="contacto">
  <footer class="mt-5 ">
    <div id="sombreros" class="my-5">
      <div class="container text-center mt-5">
        <div class="ancho-maximo"></div>
        <h2 class="title">Contactame</h2>
      </div>
    </div>
    <div class="row container mx-auto">
      <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
        <div>
          <h5 class="text-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
              class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg> Ubicacion:</h5>
          <p>Bolivia-Cochabamba</p>
        </div>
      </div>
      <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
        <h5 class="text-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z" />
            <path
              d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
          </svg> Email:</h5>
        <p>guzman.sm7@gmail.com</p>

      </div>
      <div class="footer-one col-lg-3 col-md-6 col-6 mb-3">
        <h5 class="pb-2">MIS REDES SOCIALES:</h5>
        <a class="icon" href="https://www.facebook.com/scarleth.guzman.92"><svg xmlns="http://www.w3.org/2000/svg"
            width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
          </svg></a>
        <a class="icon" href="https://instagram.com/scarleth.guzman.92?igshid=YmMyMTA2M2Y="><svg
            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-instagram"
            viewBox="0 0 16 16">
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
          </svg></a>
        <a class="icon" href="https://api.whatsapp.com/send?phone=59160730073&text=miski%20%C3%B1awisitas"><svg
            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-whatsapp"
            viewBox="0 0 16 16">
            <path
              d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" />
          </svg></a>
      </div>
      <div class="footer-one col-lg-3 col-md-6 col-6 mb-3">

        <div>
          <h5 class="text-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
              class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
            </svg> Telefono:</h5>
          <p>60730073 - 62679802</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="pie">
      <div class="logo">
        <h3>Scarleth Guzman</h3>
      </div>
      <p>Todos los derechos reservados <span class="fecha"></span> &copy; Desarrollo por Scarleth</p>
    </div>
  </footer>
</section>

<!--seccion habilidades-->
<section class="habilidades" id="habilidades">
  <div class="ancho-maximo">
    <h2 class="title"> Mis habilidades</h2>
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box">
          <img src="./img/html.jpg" alt="">
          <div class="text">Html</div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, exercitationem. Dolorem quos aliquid
            dicta totam doloremque sequi, nisi necessitatibus dignissimos!</p>
        </div>
      </div>


      <div class="card">
        <div class="box">
          <img src="./img/css" alt="">
          <div class="text">Css</div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, exercitationem. Dolorem quos aliquid
            dicta totam doloremque sequi, nisi necessitatibus dignissimos!</p>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <img src="./img/ai" alt="">
          <div class="text">Ilustrator</div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, exercitationem. Dolorem quos aliquid
            dicta totam doloremque sequi, nisi necessitatibus dignissimos!</p>
        </div>
      </div>


      <div class="card">
        <div class="box">
          <img src="./img/id" alt="">
          <div class="text">Indesing</div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, exercitationem. Dolorem quos aliquid
            dicta totam doloremque sequi, nisi necessitatibus dignissimos!</p>
        </div>
      </div>
    </div>
  </div>
</section>